body {
  background-color: #0d2927;
  background-image: url("https://media.giphy.com/media/LzIg4hVdQADA7m2sfK/giphy.gif"),
    url("https://media.giphy.com/media/gH2bKIakvLuW4/giphy.gif");
  background-repeat: repeat, repeat;
  background-position: center center, top left;
  background-blend-mode: screen, overlay;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Följer vi alla regler? Nej, men vi har iaf lite julkänsla <3 */

.heading {
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.santa-hat-container {
  position: absolute;
  top: 6.5rem;
  right: 30%;
}

.santa-hat {
  width: 7rem;
  height: 7rem;
}

.user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.1rem;
}

.user-table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #ffffff;
}

.user-table tr:nth-child(even) {
  background-color: #dde0ee;
}

.user-table th,
.user-table td {
  border: 0.1rem solid #000000;
  padding: 0.8rem;
  text-align: center;
}

.user-table th {
  background-color: #252525;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.love-message {
  background-color: #dde0ee;
  padding: 1rem;
  border-radius: 1rem;
}
